.carousel {
    height: calc(100vh - 120px);
     img {
        width: 100%;
        height: calc(100vh - 120px);
        object-fit: cover;
    }

    .carousel-caption {
        padding: 30px;
        bottom: 50%;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-family: 'signikaregular';
        border: 2px solid #fff;
        background: rgba(0, 0, 0, 0.1);
        max-width: 50%;
        margin: 0 auto;
    }
}