// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$font-bold: 'signikabold';
$font-semibold : 'signikasemibold';
$font-regular : 'signikaregular';
$font-light : 'signikalight' ;
